#message-feedback{
    position: absolute;

    z-index: 200;
    width: auto;
    max-width: 480px;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 8px var(--primary-text-color);
    padding: 8px 20px;
    border-radius: 8px;
    text-align: center;
}

.alert-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 201;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close-container{
    width: 32px;
    height: 32px;
    background-image: url('./assets/icon/close.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: transparent;
}

#message-text{
    align-self: center;
    justify-self: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.hide{
    display: none;
}