:root{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;    
    --primary-color: #0059ff;
    --primary-background-color: white;
    --primary-text-color: #232528;
    bottom: 0;
}

.main-background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #232528;
    top: -100%;
    left: 100%;
    border-radius: 100%;
    
    animation-name: main-background-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    display: none;
}

.test-border{
    border: 1px solid pink;
}

.hide{
    opacity: 0;
    transition: 1s;
    
}

@keyframes main-background-anim {
    from{}
    to{top: 0;left: 0;border-radius: 0;}
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: var(--primary-background-color);
    transition: 1s;
    scroll-behavior: smooth;
    bottom: 0;
}

.navigation-container{
    top: 0;
    position: fixed;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    z-index: 1;
    transition: .5s;
    height: 80px;
}
.navigation-container-blur{
    z-index: 98;
    top: -10px;
    transition: .5s;
    position: fixed;
    width: 100%;
   
}
.logo-container{
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-self: center;
}

.nav-link-container{
    z-index: 1;
   
    display: flex;
    align-items: center;
    justify-items: center;
}

.nav-link-container > ul{
    display: flex;
    align-items: flex-start;
}

.nav-link-container > ul > li {
    list-style-type: none;
    margin: 0 8px;
    padding: 0 8px;
    border-bottom: 4px solid var(--primary-background-color);
    transition: 1s;

}

.nav-link-container > ul > li:hover{
    border-bottom: 4px solid var(--primary-color);
}

.nav-link-container > ul > li > a{
    text-decoration: none;
    color: var(--primary-text-color);
    transition: .5s;
}

.hire-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire-btn-container>a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 32px;
}


.hire-btn-container >a> button{
    background-color: var(--primary-color);
    border: none;
    padding: 8px 18px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    transition: .5s;
    
}

#hire-btn:hover{
    opacity: .6;
    transition: .5s;
    cursor: pointer;
    
}

.cv-btn{
    height:40px;
    align-self: center;
    margin: 0 4px;
    border: none;
    background: transparent;
}

.cv-btn:hover{
    cursor: pointer;
}

.cv-btn-icon{
    width: 30px;
    height: 30px;
    background-image: url('./assets/icon/cv-2.png');
    background-size: contain;
    background-position: center;
}

.hamburger-btn-container{
    width: 32px;
    height: 32px;
    background-image: url('./assets/icon/hamburger.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    transition: .5s;
    z-index: 20;
    
}

.hamburger-btn-container:hover{
    background-image: url('./assets/icon/hamburger-hover.png');
    transition: .5s;
    color: #232528;
}

.side-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.theme-mode-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.theme-mode-container:hover{
    cursor: pointer;
}

.tool-tip-cv{
    font-size: 12px;
    display: none;
    position: absolute;
    transform: translate(-20%, 20%);
    /*background-color: rgb(235, 235, 235);
    padding: 4px;
    border-radius: 2px;*/
    color: #000000;
}

.cv-btn-container:hover .tool-tip-cv{
    display: block;
}

.ray{
    width: 4px;
    height: 4px;
    background-color: #232528;
    margin: 10px;
    border-radius: 2px;
    position: absolute;
    z-index: -1;
}

.ray-1{
    margin-top: -8px;
    margin-left: 7px;
}

.ray-2{
    margin-top: -4px;
    margin-left: 18px;
}

.ray-3{
    margin-top: 8px;
    margin-left: 22px;
}

.ray-4{
    margin-top: 18px;
    margin-left: 17px;
}

.ray-5{
    margin-top: 22px;
    margin-left: 7px;
}

.ray-6{
    margin-top: 18px;
    margin-left: -5px;
}

.ray-7{
    margin-top: 8px;
    margin-left: -9px;
}

.ray-8{
    margin-top: -4px;
    margin-left: -5px;
}

.ray-animation{
    animation-name: rays-anim;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.ray-animation-2{
    animation-name: rays-anim;
    animation-duration: .5s;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}


.tool-tip-theme{
    font-size: 12px;
    display: none;
    position: absolute;
    transform: translate(0, 220%);
    /*background-color: rgb(235, 235, 235);
    padding: 4px;
    border-radius: 2px;*/
    color: #000000;
}

.theme-mode-container:hover .tool-tip-theme{
    display: block;
}

@keyframes rays-anim {
    from{

    }
    to{
        margin-top: 8px;
        margin-left: 6px;
        background-color: white;
    }
}

.sun{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #232528;
    z-index: 2;
}

.moon{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    
    position: absolute;
    transition: 1s;
}

.moon-1{
    background-color: white;
    margin-top: -40px;
    margin-left: 20px;
    transition: 1s;
    
}

.moon-2{
    
    background-color: #232528;
    margin-top: -22px;
    margin-left: 4px;
    transition: 1s;
   
}

.dowlonad-cv-alert-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.download-cv-alert-content{
    margin-top: 40px;
    width: 600px;
    height: 120px;
    
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pdf-icon{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-image: url('./assets/icon/pdf.png');
    margin: 0 4px;
}

#download-icon{
    width: 30px;
    height: 30px;
    background: url('./assets/icon/download.png');
    background-position: center;
    background-size: contain;
    margin: 0 4px;
}

#download-CV-close-btn{
    border: none;
    background: transparent;
    align-self:flex-end;
    justify-self: flex-end;
}

#download-CV-close-btn:hover{
    cursor: pointer;
}

.close-icon{
    width: 30px;
    height: 30px;
    background: url('./assets/icon/close.png');
    background-position: center;
    background-size: contain;
    margin: 0 4px;
}
@media (max-width:1400px) {
    .navigation-container{
        padding: 0 200px;
        width: 90%;
    }
}

@media (max-width:800px) {
    .display-navlinks{
        display: none;
    }
    .navigation-container{
        padding: 0 60px;
    }
    .nav-link-container{
        position: absolute;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        padding-left:40px;
        top:0;
        left: 0;
        height: 120vh;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #232528;
    }

    .nav-links-show-anim{
        animation-name: nav-links-anim;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    .nav-link-container > ul {
        flex-direction: column;
        margin-top: 60px;
    }

    .nav-link-container > ul > li{
        border-bottom: 4px solid #232528;
        
    }

    .nav-link-container > ul > li > a{
        color: white;
        transition: .5s;
    }

    
    .hire-btn-container{
        display: none;
    }

    .hamburger-btn-container{
        background-image: url('./assets/icon/hamburger.svg');
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        transition: .5s;

        z-index: 100;
    }

    .hamburger-btn-container:hover{
        background-image: url('./assets/icon/hamburger-hover.png');
        transition: .5s;
    }


    @keyframes nav-links-anim {
        0%{
            margin-left: 600px;
        }
        100%{
            
        }
    }

    .nav-links-hide-anim{
        
        animation-name: nav-links-hide-anim;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    @keyframes nav-links-hide-anim {
        0%{
            
        }
        100%{
            margin-left: 600px;
        }
    }
}

@media (max-width:600px) {

    body{
        max-width: 600px;
        width: 100%;
    }
    
    .navigation-container{
        width: 100%;
        max-width: 400px;
    }

    #hamburger-btn{
        z-index: 20;
    }
}

@media (max-width:500px) {

    body{
        max-width: 500px;
        width: 100%;
    }
    
    .navigation-container{
        width: 100%;
        max-width: 400px;
        padding: 0;
    }

    .side-btn-container{
        z-index: 20;
        transform: translate(-20%,0);
    }
    #hamburger-btn{
        z-index: 200;
    }
}

@media (max-width:400px) {

    body{
        max-width: 400px;
        width: 100%;
    }
    
    .navigation-container, #navigation-container{
        width: 100%;
        max-width: 400px;
        
    }
    #hamburger-btn{
        z-index: 20;
    }
}

@media (max-width:360px) {
     body{
        max-width: 360px;
        width: 100%;
        
    }
    
    .navigation-container, #navigation-container{
        width: 100%;
        max-width: 360px;
        
    }
}
