:root {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}

.projects-container {
    
    width: 90%;
    max-width: 1320px;
    height: auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-self: center;
    color: var(--primary-text-color);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    height: 100px;
}

a:focus {
    color: var(--primary-color);
    text-decoration: none;
}

.project-container {
    margin-top: -12px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    overflow-y: hidden;
    overflow-x: hidden;
    height: auto;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-items: center;
    animation-name: slide-up;
    animation-duration: 1s;
   
    
}

.project-content{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.project-title {
    max-width: 800px;
}

.project-subtitle {
    margin-top: -20px;
    font-size: 16px;
}

.project-techstack-container {
    display: flex;
    margin-top: -18px;
   
}

.project-techstack {
    margin: 0 10px 0 0;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
}

.project-background {
    margin-top: -84px;
    min-height: 100px;
    width: 0;
    background-color: #53536e;
    transition: .5s;
    margin-left: -20px;
    overflow-x: hidden;
    z-index: -1;
}

.project-container:hover .project-background {
    width: 104%;
    transition: .5s;
    height: 100px;
    color: white;
}

.project-container:hover {
    color: white;
    transition: .5s;
    cursor: pointer;
    height: auto;
}

.project-container:hover a {
    color: white;
    transition: .5s;
    cursor: pointer;
}

.project-overview {
    width: 280px;
    height: 320px;
  
    position: absolute;
    left: 20%;
    top: 220%;
    background-color: skyblue;
    transition: .5s;
    opacity: 0;
    z-index: -2;
    margin-left: 300px;
    margin-top: -40px;
    box-shadow: 1px 1px 8px #53536e;
}

.project-container:hover .project-overview {
    display: flex;
    transition: .5s;
}

.project-container-1:hover .project-overview-1 {
    transition: .5s;
    opacity: 100%;
    z-index: 1;
}

#edgebook{
    background-image: url('./assets/Projects/EdgeBook.png');
    background-size: 280px;
    background-repeat: no-repeat;
}

.project-overview-2 {
    opacity: 0%;
    margin-top: 20px;
    z-index: -2;
}

#eirms{
    background-image: url('./assets/Projects/EIRMS.png');
    background-size: 280px;
    background-repeat: no-repeat;
}
#eirms-2{
     background-image: url('./assets/Projects/EIRMS.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     top: 120%;
}
.project-container-2:hover .project-overview-2 {
    transition: .5s;
    opacity: 100%;
    z-index: 1;
}

.project-overview-3 {
    margin-top: 180px;
    height: 198px;
}

.project-container-3:hover .project-overview-3 {
    opacity: 100%;
    z-index: 6;
}

.project-overview-4 , .project-overview-5{
    margin-top: 180px;
    background-color: transparent;
    box-shadow: none;
}

.project-container-4:hover .project-overview-4 {
    opacity: 100%;
    z-index: 9;
 
}

.project-overview-5{
    opacity: 0%;
    top:150%;
    left: 46%;
    z-index: -1;
}

.project-container-5:hover .project-overview-5{
    opacity: 100%;
    z-index: 9;
}

.project-overview-6{
    opacity: 0%;
    top:160%;
    left: 46%;
    z-index: -1;
    background-color: transparent;
    box-shadow: none;
}

.project-container-6:hover .project-overview-6{
    opacity: 100%;
    z-index: 9;
    height: auto;
}

@keyframes background-slide-effect {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes slide-up {
    from {
        margin-top: 50px;
        opacity: 0;
    }
    to {}
}

@keyframes down-slide-effect {
    from {
        height: 100px;
    }
    to {
        height: 420px;
    }
}
@media (max-width:1200px) {
    .projects-container{
        width: 90%;
    }
}

@media (max-width: 1400px) {
    .projects-container{
        width: 84%;
    }
}
@media (max-width:800px) {
    .projects-container{
        width: 90%;
        margin: 0;
        padding: 0;
   
        justify-self: flex-start;
    }
    .project-overview {
        position: relative;
        top: 0;
        margin: 0;
        padding: 0;
        transition: .5s;
        left: 0;
        
    }
    .project-container {
        transition: .5s;
        height: 120px;
       
    }
    .project-background {
        height: 100px;
    }

    .project-container:hover .project-overview{
        height: 420px;
    }

    .project-container-6:hover .project-overview-6{
        height: 240px;
    }
    .project-container-5:hover .project-overview-5{
        height: 240px;
    }
    .project-container-4:hover .project-overview-4{
        height: 240px;
    }
    .project-container-3:hover {
        display: inline;
        height: 320px;
    }

    .project-container-3:hover .project-overview-3{
        background-color: transparent;
    }

    .project-container:hover .project-overview{
        background-color: transparent;
    }

    .project-container-2:hover {
        height: 420px;
    }

    .project-container-2:hover .project-overview-2{
        height: 420px;
    }

    .project-container-1:hover {
        height: 420px;
    }
    

    .project-container:hover .project-background {
        width: 110%;
    }

    .project-overview-5, .project-overview-6{
        display: flex;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        justify-self: flex-start;
        align-self: flex-start;
    }
    /*
    animation-name: down-slide-effect;
        animation-duration: 1s;
    */
}

@media (max-width:480px) {
    .project-container{
        width: 90%;
    }

    .project-container-5, .project-container-6{
        width: 100%;
    }

    

    .projects-container{
        width: 90%;
    }

    #tothemoon-video-2, #tothemoon-video{
        width: 100%;
    }
}
